---
title: Visual Framework building guide
date: 2019-04-09 12:24:50
tags:
  - building
layout: layouts/base.njk
templateEngineOverride: njk, md
---

<br/><br/>
{% render '@vf-intro', {"vf_intro_phase": "", "vf_intro_heading": title,
  "vf_intro_lede": "Developing and contributing to the Visual Framework Core.",
  "vf_intro_text": [
    "A guide to what you need to do, how you should write it and how to maintain <code>vf-core</code> components."
  ]
} %}


<section class="vf-content | embl-grid embl-grid--has-centered-content">
<div>

  #### In the right place?

</div>
<div>

  - **Add VF components using npm** <br/>
    Pull VF components directly into your existing tooling at `some-kind-of-sample-site`. This approach gets you a components Sass, JS, template and any other assets and lets you build what you need.
    -  `yarn add @visual-framework/vf-sass-config @visual-framework/vf-inlay`
  - **A pre-made boilerplate using VF components** <br/>
    Uses the performant [11ty](#link) as a static site generator to build sites with VF components. This approach pre-integrates the VF Core, giving you easy access to component assets and a rollup build process to generate compiled CSS and JS.
    -  [`vf-eleventy`](https://github.com/visual-framework/vf-eleventy): `yarn create @visual-framework/vf-eleventy your-new-site-name`
  - **Build a design system using VF components** <br/>
    Extends`vf-eleventy`to document your design system, create+document components, patterns and boilerplates. You can also generate static CSS and JS assets for simple use elsewhere in vanilla HTML+CSS+JS pages.
    -  [`vf-demo-design-system`](https://github.com/visual-framework/vf-demo-design-system): `yarn create @visual-framework/vf-eleventy your-new-site-name vf-demo-design-system`
  - **WordPress theme** <br/>
    Build a WordPress site using VF components. Pre-alpha, link to come in autumn 2019.
  - **React boilerplate** <br/>
    A demonstration React-based project using VF components. Pre-alpha, link to come in autumn 2019.

</div>
<div>
</div>
</section>


{# <section class="vf-content | embl-grid embl-grid--has-centered-content">
<div></div>
<div>


</div>
</section> #}
