---
title: Developer documentation
date: 2019-04-09 12:24:50
tags:
  - documentation
layout: layouts/base.njk
templateEngineOverride: njk, md
---

<section class="vf-content | embl-grid embl-grid--has-centered-content">
<div>

  {# empty #}

</div>
<div>

<p><a href="https://visual-framework.github.io/vf-core/developing/">This section has been moved<a/>.</p>

</div>
<div>
  {# empty #}
</div>
</section>
