<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link rel="stylesheet" media="all" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css" /> #}
    <link rel="stylesheet" media="all" href="{{ '/css/styles.css' | url }}" />
    <title>{{ title or (renderData and renderData.title) or siteConfig.siteInformation.title}}</title>
  </head>
  <body class="{{ bodyClass }}" >
    <header class="vf-global-header">

      <div class="vf-global-header__inner">

        {% render '@vf-logo', {href:  'https://visual-framework.github.io/vf-welcome/' | url, sreen_reader_text: 'Visual Framework 2.0', image: siteConfig.siteInformation.url + 'assets/vf-logo/assets/logo.svg' } %}

        <nav class="vf-navigation vf-navigation--global">
          <ul class="vf-navigation__list | vf-list--inline">
            <li class="vf-navigation__item">
              <a href="{{ '/' | url }}" class="vf-navigation__link">About the Visual Framework</a>
            </li>
            <li class="vf-navigation__item">
              <a href="{{ '/developing' | url }}" class="vf-navigation__link">Documentation</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://discord.gg/XHAvkUX" class="vf-navigation__link">Help, chat</a>
            </li>
          </ul>
        </nav>

      </div>

    </header>

    <div class="vf-body">

      <!-- Breadcrumbs -->
      {% if page.filePathStem != '/index' %}
      <nav class="vf-breadcrumbs" aria-label="Breadcrumb">
        <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
          <li class="vf-breadcrumbs__item">
            <a href="{{ '/' | url }}" class="vf-breadcrumbs__link">{{ siteConfig.siteInformation.title }}</a>
          </li>
          <li class="vf-breadcrumbs__item">
            {{ title }}
          </li>
        </ul>
      </nav>
      {% endif %}

      <div class="vf-grid">
        <div>
          {{ content | safe }}

          <hr class="vf-divider" />

          <section class="vf-content | embl-grid embl-grid--has-centered-content">
          <div>
            <h4>I have an idea <span class="vf-no-wrap">or concern!</span></h4>
          </div>
          <div>
          {% markdown %}
          There are a few ways that we discuss and track ideas:

          - ⁉ General: [Chat](https://discord.gg/XHAvkUX) for general ideas and discussion.
          - ⚙️ Technical: [GitHub issues here](https://github.com/visual-framework/vf-ebi/issues) for implementing deeply technical and specific issues, like the Sass build process, browser bugs. Also see the [Troubleshooting guide]({{ '/troubleshooting' | url }}).
          - 🏢 E-mail: if you have a sweeping Big Idea™️, e-mail Ken Hawkins <ken.hawkins@embl.de>.
          {% endmarkdown %}

          </div>
          </section>
        </div>

      </div>
    </div>
    {% include "footer.njk" %}
  </body>
</html>
