<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link rel="stylesheet" media="all" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css" /> #}
    <link rel="stylesheet" media="all" href="{{ '/css/styles.css' | url }}" />
    <title>{{ title or (renderData and renderData.title) or siteConfig.siteInformation.title}}</title>
    {% render '@vf-favicon' %}
  </head>
  <body class="{{ bodyClass }}" >
    <header class="vf-global-header">

    </header>

    <div class="vf-body">

      <!-- Breadcrumbs -->
      {% if page.filePathStem != '/index' %}
      <nav class="vf-breadcrumbs" aria-label="Breadcrumb">
        <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
          <li class="vf-breadcrumbs__item">
            <a href="{{ '/' | url }}" class="vf-breadcrumbs__link">{{ siteConfig.siteInformation.title }}</a>
          </li>
          {% if '/developing/' in page.filePathStem %}
          <li class="vf-breadcrumbs__item">
              <a href="{{ '/developing' | url}}" class="vf-breadcrumbs__link">Developing</a>
          </li>
          {% endif %}
          <li class="vf-breadcrumbs__item">
            {{ title }}
          </li>
        </ul>
      </nav>
      {% endif %}

      <div class="vf-grid">
        <div>
          {{ content | safe }}
        </div>

      </div>
    </div>
    {% include "footer.njk" %}
  </body>
</html>
