---
layout: layouts/base.njk
pageClass: posts
templateEngineOverride: njk, md
---

# {{ title }}

<main class="vf-content">
  {{ content | safe }}
  <cite class="vf-cite">
    Last updated on <time datetime="{{ date }}">{{ date | dateDisplay }}</time>
  </cite>
</main>
