---
title: Code of conduct
subtitle: "We don't yet have a full policy but, in general: be nice, respectful and considerate. The maintainers will do the same."
date: 2020-01-13 12:24:50
layout: layouts/developing.njk
order: 4
---

