---
title: Naming things
subtitle: The Visual Framework uses a dual approach for the naming of things.
intro: At the lower level there are **components** which are a type of "ingredient" used to assembl into the higher level **patterns** that are richer templates with usability guidance.
date: 2019-04-09 12:24:50
layout: layouts/developing.njk
order: 4
---

<a href="https://visual-framework.github.io/vf-core/developing/">This has been moved</a>.
