---
title: Setting up your development environment
subtitle: To develop the Visual Framework your will need some free software.
date: 2020-03-18 12:24:50
layout: layouts/developing.njk
order: 3
---

<a href="https://visual-framework.github.io/vf-core/developing/">This has been moved</a>.
