---
title: Structure of the Visual Framework core
date: 2019-04-09 12:24:50
layout: layouts/developing.njk
order: 2
---

<a href="https://visual-framework.github.io/vf-core/developing/">This has been moved</a>.
