---
title: Versioning 
subtitle: The Visual Framework `vf-core` and its components have self-contained versions.
date: 2019-04-09 12:24:50
layout: layouts/developing.njk
---

<a href="https://visual-framework.github.io/vf-core/developing/">This has been moved</a>.
