$componentInfo: (
             name: "@visual-framework/vf-summary",
             version: "1.0.0-beta.4",
             location: "components/vf-core-",
             vfCoreVersion: "0.0.2"
          );