---
title: Deprecating components
subtitle: Inevitably code will be replaced and improved, leaving components stale and or outdated. 
intro: So we should tell developers to not use them.
date: 2019-04-09 12:24:50
layout: layouts/developing.njk
order: 3
---

<a href="https://visual-framework.github.io/vf-core/developing/">This has been moved</a>.
