$componentInfo: (
             name: "@visual-framework/vf-form__radio",
             version: "1.0.0-alpha.4",
             location: "components/vf-core-",
             vfCoreVersion: "0.0.2"
          );