---
title: The Visual Framework
subtitle: Tailored for life science websites
date: 2018-08-22 12:24:50
layout: layouts/base.njk
---

<section class="vf-intro | embl-grid embl-grid--has-centered-content">
<div><!-- empty --></div>
<div>
  <h1 class="vf-intro__heading vf-intro__heading--has-tag">{{ title }} <a href="#" class="vf-badge vf-badge--primary vf-badge--phases">beta</a></h1>
  <p class="vf-lede">{{ siteConfig.siteInformation.short_description | safe }}</p>

  <p class="vf-intro__text"><a href="https://visual-framework.github.io/vf-core/">The introduction has been moved<a/>.</p>

</div>
</section>

